[Unit]
Description=Advanced Fan Control program
After=lm-sensors.service

[Service]
LimitNOFILE=8192
ExecStartPre=/usr/bin/afancontrol daemon --test
ExecStart=/usr/bin/afancontrol daemon --pidfile /run/afancontrol.pid
PIDFile=/run/afancontrol.pid

[Install]
WantedBy=multi-user.target
